<div class="show">
	<div class="show-container">
		<% if flash[:notice] %>
			<p class="success show-text1"><%= flash[:notice] %></p>
		<% end %>

		<p class="show-text1"><strong>Title:</strong> <%= @book.title %></p>

		<p class="show-text1"><strong>Body:</strong> <%= @book.body %></p>
	</div>

		<p class="show-text2"><%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Back", new_book_path %></p>
</div>